*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.nav1{
    display: flex;
    justify-content: space-around;
    background-color: rgb(15, 17, 17);
    color: white;
}
.logo{
    display: flex;
}
.img>img, .img{
    width: 120px;
}